[submodule "src/PinnacleExport"]
	path = src/PinnacleExport
	url = git@github.com:Christie-Scientific-Computing/PinnacleExport.git
[submodule "backend/src/import_/PinnacleExport"]
	path = backend/src/import_/PinnacleExport
	url = git@github.com:Christie-Scientific-Computing/PinnacleExport.git
